@import url(http://fonts.googleapis.com/css?family=Raleway:100);
* {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 100;
}

html {
	background-color: black;
}

body {
	background-color: rgba(0, 0, 0, 0);
	margin: 0;
	padding: 0;
	color: #FFF;
	padding-left: 15px;
}

#bg {
	background: url('../video/circa.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;
}

#filter {
	background-image: url('../img/gray_jean.png');
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -99;
}

#name {
	padding: 0;
	margin: 0;
	padding-top: 10px;
	font-size: 60px;
	font-weight: 100;
}

#content {
	font-size: 32px;
	position: relative;
	padding-right: 15px;
	margin-bottom: 48px;
}

#content ul {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-top: 20px;
}

a {
	color: rgba(255,255,255,.75);
	text-decoration: none;
}

#bio-text {
	font-size: 24px;
	max-width: 400px;
	color: rgba(255,255,255,.75);
}

.sc-scrubber {
	display: none;
}

.playlist-item.active:before {
	content: url(../img/play.svg);
	vertical-align: middle;
	margin-left: -8px;
}